$titleSectionColor                  : #232323;
$titleSectionMarginTop              : 70px;
$titleSectionMarginBottom           : 40px;
$titleSectionFontSize               : 28px;
$titleSectionFontWight              : 800;
$baseTextColor                      : #232323;
$baseTextFontSize                   : 16px;

$baseTitleH3                        : 20px;
$baseTitleH3FontWight               :700;