.swiper-container {
    position: relative;
    //height: 750px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
}

.headerSwiper {
    //background-image: url("../img/header-fon.png");
    width: 100%;
}

.partnersSwiper {
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    &__container {
        display: flex;
        height: 750px;

        @media (max-width: 1170px) {
            height: 718px;
        }

        @media (max-width: 768px) {
            padding-top: 168px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 1002px;
        }

        &-1 {
            background: url("../img/header-fon.png") 100% 100% no-repeat;
            background-size: cover;

        }

        &-2 {
            background: url("../img/header-fon-2.png") 100% 100% no-repeat;
            background-size: cover;
        }

        &-3 {
            background: url("../img/header-fon-3.png") 100% 100% no-repeat;
            background-size: cover;

        }

        &-4 {
            background: url("../img/header-fon-4.png") 100% 100% no-repeat;
            background-size: cover;

        }

        &-5 {
            background: url("../img/header-fon-5.png") 100% 100% no-repeat;
            background-size: cover;

        }
    }

    &__info {
        position: relative;
        z-index: 1;
        width: 580px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        &-title {
            margin: 0;
            font-weight: 800;
            font-size: 32px;
            line-height: 48px;
            text-transform: uppercase;
            color: #FFFFFF;

            @media (max-width: 480px) {
                font-size: 27px;
                line-height: 37px;
            }

            @media (max-width: 480px) {
                font-size: 25px;
                line-height: 35px;
            }
        }

        &-text {
            width: 540px;
            margin-top: 37px;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #FFFFFF;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &-button {
            position: relative;
            display: inline-block;
            margin-top: 57px;

            &-link {
                position: relative;
                background: #FEC234;
                padding: 15px 35px;
                border-width: 3px 0px;
                border-style: solid;
                border-color: #FEC234;
                box-shadow: 0px 0px 15px rgba(255, 212, 58, 0.15);
                font-weight: 800;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }

    &__img {
        position: absolute;

        &-1 {
            bottom: 90px;
            right: 0;

            @media (max-width: 1170px) {
                width: 60vw;
            }

            @media (max-width: 768px) {
                width: 90vw;
                margin: 0 auto;
                position: relative;
                bottom: 90px;
            }
        }

        &-2 {
            bottom: 20px;
            right: -50px;

            @media (max-width: 1170px) {
                width: 75vw;
                right: 0;
            }

            @media (max-width: 768px) {
                width: 90vw;
                margin: 0 auto;
                position: relative;
                bottom: 90px;
            }
        }

        &-3 {
            bottom: 50px;
            right: -40px;

            @media (max-width: 1170px) {
                width: 55vw;
                right: 0;
            }

            @media (max-width: 768px) {
                width: 90vw;
                margin: 0 auto;
                position: relative;
                bottom: 90px;
            }
        }

        &-4 {
            bottom: 70px;
            right: -40px;

            @media (max-width: 1170px) {
                width: 65vw;
                right: 0;
            }

            @media (max-width: 768px) {
                width: 90vw;
                margin: 0 auto;
                position: relative;
                bottom: 90px;
            }
        }

        &-5 {
            bottom: 110px;
            right: -70px;

            @media (max-width: 768px) {
                width: 90vw;
                margin: 0 auto;
                position: relative;
                right: 0;
                bottom: 90px;
            }
        }

        &-car {

        }
    }
}

.swiper-slide img {
    object-fit: cover;
}

.swiper-pagination-bullet {
    margin-right: 35px !important;
    width: 100px;
    height: 10px ;
    border-radius: 0;
    background: #a4a4a4;
    display: inline-block ;

    @media (max-width: 1024px) {
        margin-right: 8px !important;
    }

    @media (max-width: 768px) {
        width: 50px;
        height: 5px;
        margin-right: 15px !important;
    }

    @media (max-width: 480px) {
        width: 50px;
        height: 5px;
        margin-right: 15px !important;
    }

    @media (max-width: 480px) {
        width: 30px;
        height: 3px;
        margin-right: 15px !important;
    }
}
.swiper-pagination-bullet-active {
    background: #fff;
}


.swiper-pagination {
    margin-bottom: 40px;
}

.mini-info {
    width: 510px;

    @media (max-width: 556px) {
        width: 480px;
    }

    @media (max-width: 480px) {
        width: 400px;
    }

    @media (max-width: 400px) {
        width: 100%;
    }
}

.swiper-backface-hidden {
    overflow-x: hidden;
}

.swiper-text {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #2D2D2D;
}

.swiper-pagination {
    margin-bottom: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -30px;
}

.swiper-pagination-bullet {
    margin-right: 8px !important;
    width: 24px;
    height: 4px;
    background: #DBE0E8;
    border-radius: 2px;
}

.swiper-pagination-bullet-active {
    background: #094BAD;;
}

.swiper-button-next {
    right: -31px;
}

.swiper-button-prev {
    left: -35px;
}

.swiper-button-prev, .swiper-button-next {
    width: 15px;
    height: 30px;
    color: #2D2D2D;
}
