.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;

  &__logo {
      @media (max-width: 576px) {
          width: 160px;
          height: 70px;
      }

      @media (max-width: 480px) {
          width: 150px;
          height: 65px;
      }
  }

  &__right {

  }

  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #2D2D2D;

    @media (max-width: 1170px) {
      justify-content: end;
    }

      @media (max-width: 1000px) {
          display: flex;
          align-items: center;
      }

    &-email {
      a {
        color: #2D2D2D;
        transition: all 0.15s ease;

        &:hover {
          color: #094BAD;
        }
      }

        @media (max-width: 1170px) {
            display: none;
        }
    }

    &-address {
      &-work {
        margin-top: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #8B8B8B;
      }

        @media (max-width: 1170px) {
            display: none;
        }
    }

      &-phone {
          &-decstop {
              @media (max-width: 768px) {
                  display: none;
              }
          }

          &-mobile {
              display: none;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 25px;
              color: #094BAD;

              @media (max-width: 768px) {
                  display: block;
              }

              @media (max-width: 480px) {
                  display: none;
              }
          }

          &.active {
              display: none;
          }
      }
  }

  &__nav {
    margin-top: 20px;

      @media (max-width: 1000px) {
          display: none;
      }

      &.active {
          height: 100vh;
          display: block;

          .nav-list {
              display: flex;
              flex-direction: column;
          }
      }
  }

    &.active {

        &.header__right {
            &.header__info {
                display: none;
            }
        }
    }
}

.menu-mobile {
    display: none;
    &.active {
        display: block;
        height: 100vh;
        background: #ffffff;
    }

    &__phone {
        position: fixed;
        bottom: 50px;
        z-index: 1000;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.nav-list__mobile.active {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}
