#services {
  position: relative;
  margin-top: 70px;
}

.services {
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #2D2D2D;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;

  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(107, 129, 160, 0.2);
    border-radius: 15px;

    &-header {
      img {
        width: 100%;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px 30px 20px;
      height: 100%;
      &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #2D2D2D;
      }

      &-text {
        margin-top: 20px;
        text-align: center;
      }

      &-button {
        margin-top: 30px;
      }
    }
  }
}